## Persiapkan Data yang digunakan

Dalam Langkah untuk membuat algoritma komputer, ada beberapa hal yang perlu kita perhatikan dalam menyiapkan data:
1. Mengenal Contoh File Dataset Pelanggan
2. Membaca File dengan read.csv
3. Vector untuk Menyimpan Nama Field
4. Konversi Data dengan data.matrix
5. Menggabungkan Hasil Konversi
6. Menormalisasikan Nilai Belanja
7. Membuat Data Master

Adapun data yang digunakan dalam projek kali ini adalah data pelanggan yang memiliki fitur jenis kelamin, umur, profesi, dan tipe residen.



```r
# Menyimpan data set kedalam variabel pelanggan 
# sep="\t" artinya Tab-delimited file
pelanggan <- read.csv("https://storage.googleapis.com/dqlab-dataset/customer_segments.txt", sep="\t")
head(pelanggan[c("Jenis.Kelamin", "Umur", "Profesi", "Tipe.Residen")],5)
```

**NOTE** : Case Sensitiv artinya penulisan code – huruf besar, huruf kecil dan juga penulisan lokasi file perlu diperhatikan dengan teliti.

In [ ]:
# Silahkan coba disini
pelanggan <- read.csv("https://storage.googleapis.com/dqlab-dataset/customer_segments.txt", sep="\t")
head(pelanggan[c("Jenis.Kelamin", "Umur", "Profesi", "Tipe.Residen")],5)

  Jenis.Kelamin Umur Profesi      Tipe.Residen
1 Pria          58   Wiraswasta   Sector
2 Wanita        14   Pelajar      Cluster
3 Pria          48   Professional Cluster
4 Pria          53   Professional Cluster
5 Wanita        41   Wiraswasta   Cluster

Cobalah cara dibawah ini untuk mengetahui perbedaan seperator

```r
# Silahkan coba perbedaan seperator "\t" dengan "\n"
# Gunakan fungsi cat berguna untuk penggabungan teks dengan sep
cat("Mangga", "Apel", sep="\t")
cat("Mangga", "Apel", sep="\n")
```

In [ ]:
# Silahkan coba disini
cat("Mangga", "Apel", sep="\t")
cat("Mangga", "Apel", sep="\n")

Mangga	ApelMangga
Apel

Membuat vektor/list dari nama-nama kolom

```r
# Disini membuat variabel dengan vektor/list Jenis.Kelamin, Umur, Profesi (Nama Kolom)
field_yang_digunakan <- c("Jenis.Kelamin", "Umur", "Profesi")
field_yang_digunakan
```

In [ ]:
# Silahkan coba disini
field_yang_digunakan <- c("Jenis.Kelamin", "Umur", "Profesi")
field_yang_digunakan

[1] "Jenis.Kelamin" "Umur"          "Profesi"

Mengakses file dengan variabel yang sudah dibuat sebelumnya

```r
#Tampilan data pelanggan dengan nama kolom sesuai isi vector field_yang_digunakan
head(pelanggan[field_yang_digunakan], 5)
```

In [ ]:
# Silahkan coba disini
head(pelanggan[field_yang_digunakan], 5)

  Jenis.Kelamin Umur Profesi
1 Pria          58   Wiraswasta
2 Wanita        14   Pelajar
3 Pria          48   Professional
4 Pria          53   Professional
5 Wanita        41   Wiraswasta

Mengubah matriks menjadi mode numerik. Ini dilakukan agar K-Means dapat mengelola feature yang kita gunakan apabila berupa teks bukan numerik.

```r
#Tampilan data pelanggan dengan nama kolom sesuai isi vector field_yang_digunakan
pelanggan_matrix <- data.matrix(pelanggan[c("Jenis.Kelamin","Profesi","Tipe.Residen")])
head(pelanggan_matrix, 5)
```

In [ ]:
# Silahkan coba disini
pelanggan_matrix <- data.matrix(pelanggan[c("Jenis.Kelamin","Profesi","Tipe.Residen")])
head(pelanggan_matrix, 5)

     Jenis.Kelamin Profesi Tipe.Residen
[1,] 1             5       2
[2,] 2             3       1
[3,] 1             4       1
[4,] 1             4       1
[5,] 2             5       1

Membuat dataframe baru dengan menggabungkan dataframe pelanggan dengan pelanggan_matrix. Hal ini berguna juga untuk mengenali data pelanggan baru masuk ke segment mana.

```r
#Penggabungan data
pelanggan <- data.frame(pelanggan, pelanggan_matrix)
#Tampilkan kembali data hasil penggabungan
head(pelanggan, 5)
```

In [ ]:
# Silahkan coba disini
# Penggabungan data
pelanggan <- data.frame(pelanggan, pelanggan_matrix)
# Tampilkan kembali data hasil penggabungan
head(pelanggan, 5)

  Customer_ID Nama.Pelanggan      Jenis.Kelamin Umur Profesi      Tipe.Residen
1 CUST-001    Budi Anggara        Pria          58   Wiraswasta   Sector
2 CUST-002    Shirley Ratuwati    Wanita        14   Pelajar      Cluster
3 CUST-003    Agus Cahyono        Pria          48   Professional Cluster
4 CUST-004    Antonius Winarta    Pria          53   Professional Cluster
5 CUST-005    Ibu Sri Wahyuni, IR Wanita        41   Wiraswasta   Cluster
  NilaiBelanjaSetahun Jenis.Kelamin.1 Profesi.1 Tipe.Residen.1
1  9497927            1               5         2
2  2722700            2               3         1
3  5286429            1               4         1
4  5204498            1               4         1
5 10615206            2               5         1

Melakukan normalisasi data agar menghilang ambiguitas dan membuat data lebih sederhana dan mudah dicerna, namun tidak mengurangi akurasi. Apalagi Ketika kolom ini digunakan tanpa normalisasi untuk clustering, perhitungan sum of squared errors akan menjadi sangat besar. Ada beragam bentuk normalisasi, sebagai contoh:
1. Simple Feature Scaling (membagi setiap nilai dengan nilai maksimum pada fitur tersebut, sehingga nilai akan berkisar antara 0 dan 1)
2. Min-Max (setiap nilai pada sebuah fitur dikurangi dengan nilai minimum fitur tersebut, kemudian dibagi dengan rentang nilai atau nilai maksimum dikurangi nilai minimum dari fitur tersebut)
3. Z-score (masing-masing nilai pada fitur dikurangi dengan miu (µ) yang merupakan nilai rata-rata fitur, kemudian dibagi dengan sigma (σ) yang merupakan standar deviasi)
4. Scaling Data (melakukan pembagian/perkalian data agar data bisa memiliki nilai yang sama)

dan sebagainya! 

```r
#Normalisasi Nilai
pelanggan$NilaiBelanjaSetahun <- pelanggan$NilaiBelanjaSetahun/1000000
head(pelanggan, 5)
```

In [ ]:
# Silahkan coba disini
pelanggan$NilaiBelanjaSetahun <- pelanggan$NilaiBelanjaSetahun/1000000
head(pelanggan, 5)

  Customer_ID Nama.Pelanggan      Jenis.Kelamin Umur Profesi      Tipe.Residen
1 CUST-001    Budi Anggara        Pria          58   Wiraswasta   Sector
2 CUST-002    Shirley Ratuwati    Wanita        14   Pelajar      Cluster
3 CUST-003    Agus Cahyono        Pria          48   Professional Cluster
4 CUST-004    Antonius Winarta    Pria          53   Professional Cluster
5 CUST-005    Ibu Sri Wahyuni, IR Wanita        41   Wiraswasta   Cluster
  NilaiBelanjaSetahun Jenis.Kelamin.1 Profesi.1 Tipe.Residen.1
1  9.497927           1               5         2
2  2.722700           2               3         1
3  5.286429           1               4         1
4  5.204498           1               4         1
5 10.615206           2               5         1

Menyiapkan data master yang berisikan daftar data kategori dan hasil konversinya sangat penting untuk dijadikan referensi sehingga nanti ketika ada data baru, kita bisa "petakan" menjadi data numerik yang siap digunakan untuk algoritma clustering.

```r
#Mengisi data master
Profesi <- unique(pelanggan[c("Profesi", "Profesi.1")])
Jenis.Kelamin <- unique(pelanggan[c("Jenis.Kelamin", "Jenis.Kelamin.1")])
Tipe.Residen <- unique(pelanggan[c("Tipe.Residen", "Tipe.Residen.1")])

# Tampilkan hasil data master
Profesi
Jenis.Kelamin
Tipe.Residen
```

Hal ini berguna apabila kita akan melakukan review list data label yang kita gunakan atau dikenal **dummy variables** yang mana data numerik mempresentasikan data kategori.

In [ ]:
# Silahkan coba disini
# Mengisi data master
Profesi <- unique(pelanggan[c("Profesi", "Profesi.1")])
Jenis.Kelamin <- unique(pelanggan[c("Jenis.Kelamin", "Jenis.Kelamin.1")])
Tipe.Residen <- unique(pelanggan[c("Tipe.Residen", "Tipe.Residen.1")])

# Tampilkan hasil data master
Profesi
Jenis.Kelamin
Tipe.Residen

   Profesi          Profesi.1
1  Wiraswasta       5
2  Pelajar          3
3  Professional     4
17 Ibu Rumah Tangga 1
31 Mahasiswa        2

  Jenis.Kelamin Jenis.Kelamin.1
1 Pria          1
2 Wanita        2

  Tipe.Residen Tipe.Residen.1
1 Sector       2
2 Cluster      1