<h1>Variabel dan tipe data</h1>
<p>Di bagian ini kita akan membahas tentang variabel dan tipe data yang ada di bahasa python. Yuk mari belajar bersama!</p>

Sebelumnya kita memperhatikan definisi variabel dari literals yang berbeda, seperti berikut ini:

```python
y = 10
tulisan = "hallo! "
```

Dalam pendefinisian variabel perhatikan bahwa:
1. Diawali dengan huruf atau underscore atau tidak dapat dimulai dengan angka
2. Terdiri **huruf/angka/underscore**
3. Case-sensitive

>Selalu ingat bahwa: Variabel python itu **diawali huruf/underscore**

In [ ]:
# mana yang benar
var = 10 #A
1var = 10 #B
_2 = 10 #C

>Selalu ingat bahwa: Variabel python itu **TIDAK BOLEH SPACE/LAINNYA**

In [ ]:
# mana yang benar?
var 1 = 10 #A
var_1 = 10 #B

>Selalu ingat bahwa: Python itu **case-sensitive**, artinya setiap perbedaan character atau space sekalipun diperhatikan oleh python. So, perlu disesuaikan penulisannya

In [ ]:
# Contoh
chat1 = "Budi itu  pria"
chat2 = "Budi itu pria"
chat3 = "Budi itu pria"

print("Chat 1 tidak sama dengan 2:", chat1 == chat2)
print("Chat 2 sama dengan 3:", chat2 == chat3)

Chat 1 tidak sama dengan 2: False
Chat 2 sama dengan 3: True

Salah satu mempermudah definisi jika ada banyak variabel!

```python
income1, income2, income3 = 100, 120, 150
```

Tipe data dalam python bisa didefinisikan sebagai berikut ini:

![image.png](https://drive.google.com/uc?export=view&id=1Zw_U8Soqv94_V0ki8e3dmoKbU2nNhH8N)

Contoh penerapan:

![image.png](https://drive.google.com/uc?export=view&id=1YiesB40O7Z3dZOYo4w8pzQ-v5qKlh3y1)

Temukan tipe data berikut ini!

```python
data1 = 10
data2 = 0.05
data3 = "Hallo!"
```

Kamu bisa menggunakan Fungsi type(...). Seperti contoh dibawah ini!

In [ ]:
print(type(10.06))

<class 'float'>

In [ ]:
print(type(True))

<class 'bool'>

![image.png](https://drive.google.com/uc?export=view&id=182bpAwdxYGjO4K_vHgwdYZK5QbEL33Zl)

**Sequence Type 1**

>List merupakan dapat digunakan untuk menampung beberapa variabel yang mana bersifat **Mutable** dan **Boleh duplikat**, berbeda dengan saudaranya Tuple


```python
## INI LIST ya ##

# SEMUA JENIS TYPE bisa disimpan
list1 = [10, "type", 20]
print(type(list1))

# mengambil nilai di dalam list [ordered dimulai dari 0]
print(list1[0])

# mengganti/MUTABLE
list1[1] = "hallo"
print(list1)
```
Coba tuliskan diatas!

In [ ]:
# Tulis disini ya!

**Sequence Type 2**

>Tuple merupakan dapat digunakan untuk menampung beberapa variabel yang mana bersifat **Immutable** dan **Boleh duplikat**, berbeda dengan saudaranya List


```python
## INI Tuple ya ##

# SEMUA JENIS TYPE bisa disimpan
tup1 = (10, "type", 20)
print(type(tup1))

# mengambil nilai di dalam list [ordered dimulai dari 0]
print(tup1[0])

# tidak dapat mengganti
tup1[1] = "hallo"
print(tup1)
```
Coba tuliskan diatas!

In [ ]:
# Tulis disini ya!

**Sequence Type 3**

>Set merupakan dapat digunakan untuk menampung beberapa variabel yang mana bersifat **mutable** dan **Tidak duplikat**, berbeda dengan saudaranya frozen set. + Tidak berurutan


```python
## INI Set ya ##

# SEMUA JENIS TYPE bisa disimpan
set1 = {10, "type", 20}
print(type(set1))

set1.add(10)

```
Tampilkan nilai set1?

In [ ]:
# Tulis disini ya!

**Sequence Type 4**

>Froze Set merupakan dapat digunakan untuk menampung beberapa variabel yang mana bersifat **immutable** dan **Tidak duplikat**, berbeda dengan saudaranya set. + Tidak berurutan


```python
## INI Set ya ##

# SEMUA JENIS TYPE bisa disimpan
set1 = [{10, "type", 20}]
print(type(set1))

set1.add(10)

```
Tampilkan nilai set1?

In [ ]:
# Tulis disini ya!

**Mapping Sequence 1**

>Berguna untuk memetakan nilai dengan nilai lainnya, jika kamu sudah tahu Json (seperti itulah mapping) dengan Dictionary


```python
ibukota = {"Jawa Tengah":"Semarang", "Jawa Timur":"Surabaya", "Jawa Barat":"Bandung"}

# menampilkan ibukota jawa tengah:
print("Ibukota jawa tengah adalah",ibukota["Jawa Tengah"])
```
Apa nama ibukota Jawa Timur?

In [ ]:
# Tulis disini ya!

Ibukota jawa tengah adalah Semarang

Saatnya kita melakukan penyelesaian masalah ini!

![image.png](https://drive.google.com/uc?export=view&id=1LbPvC-pcdzlIOeV1E6eYDgI-90wseLgm)

```python

# 1. Definisikan variabel
sepatu = ....
baju = ....
celana = ...

# 2. Hitunglah nilai dengan operators (harga jual-harga diskon)
harga_sepatu = ...
harga_baju = ....
harga_celana = .....
total_harga = harga_sepatu + harga_baju + harga_celana

# 3. Gunakan kalkulasi dengan memperhatikan variabel lainnya
total_pajak = total_harga * 0.1
print(total_harga + total_pajak)

```

In [ ]:
# Tulis disini ya!